@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow: -moz-scrollbars-none;
}

h1,
h2,
h3 {
  font-weight: 700;
}

/* autofill fix */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #2C2C2C inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

::-webkit-scrollbar{ 
  background-color: transparent !important;
  width: 0px !important;
}
